@model PartialVM

<script type="text/javascript" src="~/assets/ExecuteAJAX.js"></script>
<script type="text/javascript" src="~/lib/jQuery/dist/jquery.js"></script>

@{
    ViewData["Title"] = "About";
}

<div>
    @Html.Raw(@Model.PartialView)
</div>
