<table class="table">
    <thead>
        <tr>
            <th>
                User Name
            </th>
            <th>
                Full Name
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                W.Stephenson
            </td>
            <td>
                Will Stephenson
            </td>
            <td>
                w.stephenson@tees.co.uk
            </td>
            <td>
                <a asp-controller="Message" asp-action="Send" asp-route-id="1">Send</a> |
                <a asp-controller="Message" asp-action="MyMessages" asp-route-id="1">View Messages</a>
            </td>
        </tr>
        <tr>
            <td>
                J.Talman
            </td>
            <td>
                Jason Talman
            </td>
            <td>
                j.talman@tees.co.uk
            </td>
            <td>
                <a asp-controller="Message" asp-action="Send" asp-route-id="2">Send</a> |
                <a asp-controller="Message" asp-action="MyMessages" asp-route-id="2">View Messages</a>
            </td>
        </tr>
        <tr>
            <td>
                R.Spence
            </td>
            <td>
                Richard Spence
            </td>
            <td>
                r.spence@tees.co.uk
            </td>
            <td>
                <a asp-controller="Message" asp-action="Send" asp-route-id="3">Send</a> |
                <a asp-controller="Message" asp-action="MyMessages" asp-route-id="3">View Messages</a>
            </td>
        </tr>
        <tr>
            <td>
                J.Spence
            </td>
            <td>
                James Spence
            </td>
            <td>
                j.spence@tees.co.uk
            </td>
            <td>
                <a asp-controller="Message" asp-action="Send" asp-route-id="4">Send</a> |
                <a asp-controller="Message" asp-action="MyMessages" asp-route-id="4">View Messages</a>
            </td>
        </tr>
        <tr>
            <td>
                A.Seargant
            </td>
            <td>
                Adam Seargant
            </td>
            <td>
                a.seargant@tees.co.uk
            </td>
            <td>
                <a asp-controller="Message" asp-action="Send" asp-route-id="5">Send</a> |
                <a asp-controller="Message" asp-action="MyMessages" asp-route-id="5">View Messages</a>
            </td>
        </tr>
    </tbody>
</table>